@import  "../../../tokens.scss";

.root {
  position: relative;
  box-sizing: border-box;
}
.ellipse31 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: content-box;
}

.ellipse31_colorBlueDark {
  display: flex;
}

.ellipse31_colorBlue {
  display: flex;
}

.ellipse31_colorBlueLight {
  display: flex;
}

.ellipse31_colorYellowDark {
  display: flex;
}

.ellipse31_colorYellow {
  display: flex;
}

.ellipse31_colorYellowLight {
  display: flex;
}

.ellipse31_colorOrangeDark {
  display: flex;
}

.ellipse31_colorOrange {
  display: flex;
}

.ellipse31_colorOrangeLight {
  display: flex;
}

.ellipse31_colorRedDark {
  display: flex;
}

.ellipse31_colorGreyDark {
  display: flex;
}

.ellipse31_colorRed {
  display: flex;
}

.ellipse31_colorGrey {
  display: flex;
}

.ellipse31_colorRedLight {
  display: flex;
}

.ellipse31_colorGreyLight {
  display: flex;
}

.ellipse31_colorGreenDark {
  display: flex;
}

.ellipse31_colorGreen {
  display: flex;
}

.ellipse31_colorGreenLight {
  display: flex;
}
