<div class="root">
  <div
    class="ellipse31"
    [ngClass]="{
      ellipse31_colorBlueDark: color === 'blue-dark',
      ellipse31_colorBlue: color === 'blue',
      ellipse31_colorBlueLight: color === 'blue-light',
      ellipse31_colorYellowDark: color === 'yellow-dark',
      ellipse31_colorYellow: color === 'yellow',
      ellipse31_colorYellowLight: color === 'yellow-light',
      ellipse31_colorOrangeDark: color === 'orange-dark',
      ellipse31_colorOrange: color === 'orange',
      ellipse31_colorOrangeLight: color === 'orange-light',
      ellipse31_colorRedDark: color === 'red-dark',
      ellipse31_colorGreyDark: color === 'grey-dark',
      ellipse31_colorRed: color === 'red',
      ellipse31_colorGrey: color === 'grey',
      ellipse31_colorRedLight: color === 'red-light',
      ellipse31_colorGreyLight: color === 'grey-light',
      ellipse31_colorGreenDark: color === 'green-dark',
      ellipse31_colorGreen: color === 'green',
      ellipse31_colorGreenLight: color === 'green-light'
    }"
  >
    <svg
      width="8"
      height="8"
      viewBox="0 0 8 8"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle cx="4" cy="4" r="4" fill="#205E87" />
    </svg>
  </div>
</div>
