/* Variables */
$primitives-colors-black: #00070a;
$primitives-colors-blue-100: #8ac4ec;
$primitives-colors-blue-200: #57abe4;
$primitives-colors-blue-300: #359ade;
$primitives-colors-blue-400: #256c9b;
$primitives-colors-blue-50: #ebf5fc;
$primitives-colors-blue-500: #205e87;
$primitives-colors-blue-75: #acd6f1;
$primitives-colors-green-300: #40ca9c;
$primitives-colors-green-50: #ecfaf5;
$primitives-colors-green-500: #277b5f;
$primitives-colors-green-75: #b1e9d6;
$primitives-colors-grey-100: #bbbdc1;
$primitives-colors-grey-200: #9ea0a6;
$primitives-colors-grey-300: #8a8d94;
$primitives-colors-grey-400: #616368;
$primitives-colors-grey-50: #f3f4f4;
$primitives-colors-grey-500: #54565a;
$primitives-colors-grey-75: #cfd0d3;
$primitives-colors-orange-300: #de7701;
$primitives-colors-orange-50: #fcf1e6;
$primitives-colors-orange-500: #874901;
$primitives-colors-orange-75: #f1c797;
$primitives-colors-red-300: #ca4115;
$primitives-colors-red-50: #faece8;
$primitives-colors-red-500: #7b280d;
$primitives-colors-red-75: #e9b19f;
$primitives-colors-white: #fbfeff;
$primitives-colors-yellow-300: #f0ba1d;
$primitives-colors-yellow-400: #a88214;
$primitives-colors-yellow-500: #927112;
$primitives-colors-yellow-75: #f9e3a2;
$primitives-dimensions-dim-0: 0px;
$primitives-dimensions-dim-16: 16px;
$primitives-dimensions-dim-2: 2px;
$primitives-dimensions-dim-4: 4px;
$primitives-dimensions-dim-40: 40px;
$primitives-dimensions-dim-8: 8px;
$global-tokens-light-mode-buttons-button-highlight-hover: $primitives-colors-yellow-400;
$global-tokens-dark-mode-buttons-button-highlight-hover: $primitives-colors-yellow-400;
$global-tokens-light-mode-buttons-button-highlight-idle: $primitives-colors-yellow-300;
$global-tokens-dark-mode-buttons-button-highlight-idle: $primitives-colors-yellow-300;
$global-tokens-light-mode-buttons-button-highlight-press: $primitives-colors-yellow-500;
$global-tokens-dark-mode-buttons-button-highlight-press: $primitives-colors-yellow-500;
$global-tokens-light-mode-buttons-button-primary-content: $primitives-colors-white;
$global-tokens-dark-mode-buttons-button-primary-content: $primitives-colors-white;
$global-tokens-light-mode-buttons-button-primary-hover: $primitives-colors-blue-400;
$global-tokens-dark-mode-buttons-button-primary-hover: $primitives-colors-blue-400;
$global-tokens-light-mode-buttons-button-primary-idle: $primitives-colors-blue-300;
$global-tokens-dark-mode-buttons-button-primary-idle: $primitives-colors-blue-300;
$global-tokens-light-mode-buttons-button-primary-press: $primitives-colors-blue-500;
$global-tokens-dark-mode-buttons-button-primary-press: $primitives-colors-blue-500;
$global-tokens-light-mode-buttons-button-secondary: $primitives-colors-blue-50;
$global-tokens-dark-mode-buttons-button-secondary: $primitives-colors-blue-50;
$global-tokens-light-mode-charts-chart-blue: $primitives-colors-blue-300;
$global-tokens-dark-mode-charts-chart-blue: $primitives-colors-blue-300;
$global-tokens-light-mode-charts-chart-blue-dark: $primitives-colors-blue-500;
$global-tokens-dark-mode-charts-chart-blue-dark: $primitives-colors-blue-500;
$global-tokens-light-mode-charts-chart-blue-light: $primitives-colors-blue-75;
$global-tokens-dark-mode-charts-chart-blue-light: $primitives-colors-blue-75;
$global-tokens-light-mode-charts-chart-green: $primitives-colors-green-300;
$global-tokens-dark-mode-charts-chart-green: $primitives-colors-green-300;
$global-tokens-light-mode-charts-chart-green-dark: $primitives-colors-green-500;
$global-tokens-dark-mode-charts-chart-green-dark: $primitives-colors-green-500;
$global-tokens-light-mode-charts-chart-green-light: $primitives-colors-green-75;
$global-tokens-dark-mode-charts-chart-green-light: $primitives-colors-green-75;
$global-tokens-light-mode-charts-chart-grey: $primitives-colors-grey-300;
$global-tokens-dark-mode-charts-chart-grey: $primitives-colors-grey-300;
$global-tokens-light-mode-charts-chart-grey-dark: $primitives-colors-grey-500;
$global-tokens-dark-mode-charts-chart-grey-dark: $primitives-colors-grey-500;
$global-tokens-light-mode-charts-chart-grey-light: $primitives-colors-grey-75;
$global-tokens-dark-mode-charts-chart-grey-light: $primitives-colors-grey-75;
$global-tokens-light-mode-charts-chart-orange: $primitives-colors-orange-300;
$global-tokens-dark-mode-charts-chart-orange: $primitives-colors-orange-300;
$global-tokens-light-mode-charts-chart-orange-dark: $primitives-colors-orange-500;
$global-tokens-dark-mode-charts-chart-orange-dark: $primitives-colors-orange-500;
$global-tokens-light-mode-charts-chart-orange-light: $primitives-colors-orange-75;
$global-tokens-dark-mode-charts-chart-orange-light: $primitives-colors-orange-75;
$global-tokens-light-mode-charts-chart-red: $primitives-colors-red-300;
$global-tokens-dark-mode-charts-chart-red: $primitives-colors-red-300;
$global-tokens-light-mode-charts-chart-red-dark: $primitives-colors-red-500;
$global-tokens-dark-mode-charts-chart-red-dark: $primitives-colors-red-500;
$global-tokens-light-mode-charts-chart-red-light: $primitives-colors-red-75;
$global-tokens-dark-mode-charts-chart-red-light: $primitives-colors-red-75;
$global-tokens-light-mode-charts-chart-yellow: $primitives-colors-yellow-300;
$global-tokens-dark-mode-charts-chart-yellow: $primitives-colors-yellow-300;
$global-tokens-light-mode-charts-chart-yellow-dark: $primitives-colors-yellow-500;
$global-tokens-dark-mode-charts-chart-yellow-dark: $primitives-colors-yellow-500;
$global-tokens-light-mode-charts-chart-yellow-light: $primitives-colors-yellow-75;
$global-tokens-dark-mode-charts-chart-yellow-light: $primitives-colors-yellow-75;
$global-tokens-light-mode-dimensions-corner-drill-down-button: $primitives-dimensions-dim-40;
$global-tokens-dark-mode-dimensions-corner-drill-down-button: $primitives-dimensions-dim-40;
$global-tokens-light-mode-dimensions-corner-flush: $primitives-dimensions-dim-0;
$global-tokens-dark-mode-dimensions-corner-flush: $primitives-dimensions-dim-0;
$global-tokens-light-mode-dimensions-corner-frame-default: $primitives-dimensions-dim-8;
$global-tokens-dark-mode-dimensions-corner-frame-default: $primitives-dimensions-dim-8;
$global-tokens-light-mode-dimensions-corner-frame-small: $primitives-dimensions-dim-4;
$global-tokens-dark-mode-dimensions-corner-frame-small: $primitives-dimensions-dim-4;
$global-tokens-light-mode-dimensions-corner-pill: $primitives-dimensions-dim-16;
$global-tokens-dark-mode-dimensions-corner-pill: $primitives-dimensions-dim-16;
$global-tokens-light-mode-dimensions-corner-square: $primitives-dimensions-dim-2;
$global-tokens-dark-mode-dimensions-corner-square: $primitives-dimensions-dim-2;
$global-tokens-light-mode-global-background-blue: $primitives-colors-blue-50;
$global-tokens-dark-mode-global-background-blue: $primitives-colors-blue-400;
$global-tokens-light-mode-global-background-error: $primitives-colors-red-50;
$global-tokens-dark-mode-global-background-error: $primitives-colors-red-500;
$global-tokens-light-mode-global-background-grey: $primitives-colors-grey-75;
$global-tokens-dark-mode-global-background-grey: $primitives-colors-grey-400;
$global-tokens-light-mode-global-background-primary: $primitives-colors-white;
$global-tokens-dark-mode-global-background-primary: $primitives-colors-grey-500;
$global-tokens-light-mode-global-background-secondary: $primitives-colors-grey-50;
$global-tokens-dark-mode-global-background-secondary: $primitives-colors-black;
$global-tokens-light-mode-global-background-success: $primitives-colors-green-50;
$global-tokens-dark-mode-global-background-success: $primitives-colors-green-500;
$global-tokens-light-mode-global-background-warning: $primitives-colors-orange-50;
$global-tokens-dark-mode-global-background-warning: $primitives-colors-orange-500;
$global-tokens-light-mode-global-color-focus: $primitives-colors-blue-300;
$global-tokens-dark-mode-global-color-focus: $primitives-colors-blue-300;
$global-tokens-light-mode-global-icon-default: $primitives-colors-grey-400;
$global-tokens-dark-mode-global-icon-default: $primitives-colors-grey-75;
$global-tokens-light-mode-global-text-link-hover: $primitives-colors-blue-400;
$global-tokens-dark-mode-global-text-link-hover: $primitives-colors-blue-200;
$global-tokens-light-mode-global-text-link-press: $primitives-colors-blue-500;
$global-tokens-dark-mode-global-text-link-press: $primitives-colors-blue-100;
$global-tokens-light-mode-global-text-primary: $primitives-colors-black;
$global-tokens-dark-mode-global-text-primary: $primitives-colors-white;
$global-tokens-light-mode-global-text-secondary: $primitives-colors-grey-300;
$global-tokens-dark-mode-global-text-secondary: $primitives-colors-grey-100;
$global-tokens-light-mode-menu-filters-menu-link-disabled: $primitives-colors-grey-75;
$global-tokens-dark-mode-menu-filters-menu-link-disabled: $primitives-colors-grey-300;
$global-tokens-light-mode-menu-filters-menu-link-hover: $primitives-colors-grey-500;
$global-tokens-dark-mode-menu-filters-menu-link-hover: $primitives-colors-grey-100;
$global-tokens-light-mode-menu-filters-menu-link-idle: $primitives-colors-grey-400;
$global-tokens-dark-mode-menu-filters-menu-link-idle: $primitives-colors-grey-200;
$global-tokens-light-mode-ratings-color-moderate: $primitives-colors-yellow-300;
$global-tokens-dark-mode-ratings-color-moderate: $primitives-colors-yellow-300;
$global-tokens-light-mode-ratings-color-needs-help: $primitives-colors-orange-300;
$global-tokens-dark-mode-ratings-color-needs-help: $primitives-colors-orange-300;
$global-tokens-light-mode-ratings-color-strong: $primitives-colors-green-300;
$global-tokens-dark-mode-ratings-color-strong: $primitives-colors-green-300;
$global-tokens-light-mode-ratings-color-weak: $primitives-colors-red-300;
$global-tokens-dark-mode-ratings-color-weak: $primitives-colors-red-300;
$global-tokens-light-mode-selectables-selectables-background-disabled: $primitives-colors-grey-75;
$global-tokens-dark-mode-selectables-selectables-background-disabled: $primitives-colors-grey-75;
$global-tokens-light-mode-selectables-selectables-background-selected-hover: $primitives-colors-blue-75;
$global-tokens-dark-mode-selectables-selectables-background-selected-hover: $primitives-colors-blue-75;
$global-tokens-light-mode-selectables-selectables-background-selected-idle: $primitives-colors-blue-100;
$global-tokens-dark-mode-selectables-selectables-background-selected-idle: $primitives-colors-blue-100;
$global-tokens-light-mode-selectables-selectables-background-unselected-hover: $primitives-colors-grey-75;
$global-tokens-dark-mode-selectables-selectables-background-unselected-hover: $primitives-colors-grey-75;
$global-tokens-light-mode-selectables-selectables-background-unselected-idle: $primitives-colors-grey-100;
$global-tokens-dark-mode-selectables-selectables-background-unselected-idle: $primitives-colors-grey-100;
$global-tokens-light-mode-selectables-selectables-content-disabled: $primitives-colors-grey-400;
$global-tokens-dark-mode-selectables-selectables-content-disabled: $primitives-colors-grey-200;
$global-tokens-light-mode-buttons-button-content: $global-tokens-light-mode-global-background-primary;
$global-tokens-dark-mode-buttons-button-content: $global-tokens-light-mode-global-background-primary;
$global-tokens-light-mode-buttons-button-content-disabled: $global-tokens-light-mode-selectables-selectables-content-disabled;
$global-tokens-dark-mode-buttons-button-content-disabled: $global-tokens-light-mode-selectables-selectables-content-disabled;
$global-tokens-light-mode-buttons-button-disabled: $global-tokens-light-mode-selectables-selectables-background-disabled;
$global-tokens-dark-mode-buttons-button-disabled: $global-tokens-light-mode-selectables-selectables-background-disabled;
$global-tokens-light-mode-buttons-button-disabled-content: $global-tokens-light-mode-selectables-selectables-content-disabled;
$global-tokens-dark-mode-buttons-button-disabled-content: $global-tokens-light-mode-selectables-selectables-content-disabled;
$global-tokens-light-mode-buttons-button-secondary-content-hover: $global-tokens-light-mode-global-text-link-hover;
$global-tokens-dark-mode-buttons-button-secondary-content-hover: $global-tokens-light-mode-global-text-link-hover;
$global-tokens-light-mode-buttons-button-secondary-content-press: $global-tokens-light-mode-global-text-link-press;
$global-tokens-dark-mode-buttons-button-secondary-content-press: $global-tokens-light-mode-global-text-link-press;
$global-tokens-light-mode-charts-chart-default: $global-tokens-light-mode-charts-chart-blue-light;
$global-tokens-dark-mode-charts-chart-default: $global-tokens-light-mode-charts-chart-blue-light;
$global-tokens-light-mode-charts-chart-focus: $global-tokens-light-mode-global-color-focus;
$global-tokens-dark-mode-charts-chart-focus: $global-tokens-light-mode-global-color-focus;
$global-tokens-light-mode-charts-chart-primary: $global-tokens-light-mode-global-text-primary;
$global-tokens-dark-mode-charts-chart-primary: $global-tokens-light-mode-global-text-primary;
$global-tokens-light-mode-charts-chart-secondary: $global-tokens-light-mode-global-text-secondary;
$global-tokens-dark-mode-charts-chart-secondary: $global-tokens-light-mode-global-text-secondary;
$global-tokens-light-mode-global-background-notice: $global-tokens-light-mode-global-background-blue;
$global-tokens-dark-mode-global-background-notice: $global-tokens-light-mode-global-background-blue;
$global-tokens-light-mode-global-text-link-idle: $global-tokens-light-mode-global-color-focus;
$global-tokens-dark-mode-global-text-link-idle: $global-tokens-light-mode-global-color-focus;
$global-tokens-light-mode-menu-filters-menu-link-focus: $global-tokens-light-mode-global-text-primary;
$global-tokens-dark-mode-menu-filters-menu-link-focus: $global-tokens-light-mode-global-text-primary;
$global-tokens-light-mode-selectables-field-background-unselected-idle: $global-tokens-light-mode-global-background-secondary;
$global-tokens-dark-mode-selectables-field-background-unselected-idle: $global-tokens-light-mode-global-background-secondary;
$global-tokens-light-mode-selectables-filter-background: $global-tokens-light-mode-global-background-blue;
$global-tokens-dark-mode-selectables-filter-background: $global-tokens-light-mode-global-background-blue;
$global-tokens-light-mode-selectables-selectable-content-idle: $global-tokens-light-mode-global-text-primary;
$global-tokens-dark-mode-selectables-selectable-content-idle: $global-tokens-light-mode-global-text-primary;
$global-tokens-light-mode-buttons-button-secondary-content-idle: $global-tokens-light-mode-global-text-link-idle;
$global-tokens-dark-mode-buttons-button-secondary-content-idle: $global-tokens-light-mode-global-text-link-idle;
