@import  "../../../tokens.scss";

.csv_191-3010 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}
.vector_191-3011 {
  top: 3px;
  left: 2px;
  position: absolute;
  display: flex;
  display: flex;
}
