@import  "../../../tokens.scss";

.download_191-3095 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}
.vector_191-3096 {
  top: 3px;
  left: 4px;
  position: absolute;
  display: flex;
  display: flex;
}
