@import  "../../../tokens.scss";

.link_205-3213 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}
.vector_205-3214 {
  top: 4px;
  left: 1px;
  position: absolute;
  display: flex;
  display: flex;
}
